/*** RESET ***/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  display: block;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 70%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

.jumbosection {
  height: 300px;
}
.jumbosection .bg_image {
  width: 100%;
  height: 100%;
  background-image: url("../img/jumbotron.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.header_section {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* parte sinistra del logo */
.image-logo {
  width: 60px;
}

/* parte destra di navigazione */
ul {
  display: flex;
}

li {
  margin-left: 30px;
  position: relative;
}
li a {
  text-transform: uppercase;
}

.underline {
  position: absolute;
  height: 5px;
  width: 100%;
  background-color: #0282f9;
  left: 0;
  top: 300%;
  display: none;
}

.current + .underline {
  display: block;
}

.current {
  color: #0282f9;
}

.comics-section {
  background-color: #1c1c1c;
}

.comics-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.comic_book_card {
  padding: 10px;
  width: calc(16.6666666667% - 5px);
  margin: 2px;
}

img {
  widows: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  overflow: hidden;
}

h2 {
  padding-top: 2px;
  font-size: 0.9rem;
  color: white;
}