.accent-bar {
    height: 50px;
    background-color: $main_color;
}

.container {
    position: relative;
}
.row {
    display: flex;
}
.comicbook-bottom-section {
    h2 {
        color: black;
        font-size: 1.5rem;
        padding-bottom: 10px;
    }
}
.col_sx {
    width: 80%;
    padding-block: 30px;
}
.green_price {
    background-color: #55ba59;
    margin-block: 5px;
    padding-block: 5px;
    padding-left: 10px;
}
.col_dx {
    width: 20%;
    padding-block: 50px;
}
.current_issue_cover {
    width: 180px;
    position: absolute;
    top: -200px;
    left: 0;
}
.left-half {
    width: 50%;
}
.artist-row {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    padding-block: 5px;
    display: flex;
    justify-content: space-between;
}
.artist-list {
    width: 80%;
}
.writer-row {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    padding-block: 5px;
    display: flex;
    justify-content: space-between;
}
.writer-list {
    width: 80%;
}
